:root{
    background-color: whitesmoke;
    font-family: system-ui;
    overflow: hidden; /*prevent scroll bar*/ 
}
    
/*welcome paragraph*/
p {
    text-align: center;
    color: blue;
    font-size: 1.3em;
    font-family: system-ui;
}

/*welcome screen*/
.margins {
    width: 100vw;
    height: 100vh;
    margin: 0 auto;
    display: flex;
    max-width: 80rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*global styling for buttons*/
button{
    border: #bc7baf;
    border-radius: 10px;
    text-align: center;
    margin-top: 3px;
    padding: 20px;
    width: 200px;
    background-color: rgb(202, 135, 202);
    color: black;
    font-size: 1.3em;
}

button:hover{
    box-shadow: rgb(240, 113, 136);
}

/*welcome screen*/
.intro-screen {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/*--headers--*/
h2, h3 {
    margin-top: -.5rem;
    text-align: center;
}

/*global input*/
input{
    text-align: center;
}
/*quiz questions*/
.intro p {
    text-align: center;
    justify-content: center;
}

.start-button {
    display: block;
    margin: 0 auto;
}

main {
    display: none; 
}
/*no bullet point*/
li {
    list-style: none;
}

.questions {
    display: block;
}
/*finished screen*/
.finished-screen {
    display: block;
}

.finished-screen ol{
    overflow-y: scroll;
    max-height: 200px;
}
.highscores-screen {
    display: block;
}