
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui;
    border: 1px solid blue;
}

body {
    background-color: white; 
    /*prevent scroll bar*/ 
    overflow: hidden;     
}
/*start button*/
p {
    display: block;
    color: blue;
    font-size: 1.3em;
}

/*questions screen*/
.margins {
    padding: 10px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: start;
}

/*high scores button*/
.button{
    outline: none;
    background-color: black;
    color: white;
    font-size: 1.3em;
}

/*timer*/
.nav-bar p {
    float: right;
}

/*welcome screen*/
.intro-screen {
    background-color: rgba(0, 0, 0, 0.5);
    height: 100%;
    width: 50%;
    margin: 0 auto;
    margin-bottom: 10vh;
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/*--headers--*/
h1, h2 {
    color: rgba(255, 255, 168);
    text-align: center;
}

/*quiz questions*/
.intro p {
    text-align: center;
    justify-content: center;
}

.start-button {
    display: block;
    margin: 0 auto;
}

main {
    display: none; 
}
/*no bullet point*/
li {
    list-style: none;
}

.questions {
    display: block;
}
/*finished screen*/
.finished-screen {
    display: block;
}

.finished-screen ol{
    overflow-y: scroll;
    max-height: 200px;
}
.highscores-screen {
    display: block;
}